@model testProject.Models.ViewModels.Confirm.ConfirmModel
@{
    ViewBag.Title = "Согласование";
    Layout = "~/Views/Layouts/UserLayout.cshtml";
}

<div class="page_block">
    <span class="block_header">Заявки на обучение</span>
    @if (Model.Bids.Count > 0) {
        <table class="learning">
            <thead>
            <th>№</th>
            <th>ФИО</th>
            <th>Курс</th>
            <th>Площадка</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Действия</th>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Bids.Count; i++) {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model.Bids[i].EmployeeFio</td>
                        <td>@Model.Bids[i].Course</td>
                        <td>@Model.Bids[i].Area</td>
                        <td>@Model.Bids[i].LearningStart.ToShortDateString()</td>
                        <td>@Model.Bids[i].LearningEnd.ToShortDateString()</td>
                        <td>Действия</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else {
        <span class="block_header"> - Отсутствуют</span>
    }
</div>

<div class="page_block">
    <span class="block_header">Заявки на обучение (в листе ожидания)</span>
    @if (Model.WaitingBids.Count > 0) {
        <table class="learning">
            <thead>
            <th>№</th>
            <th>ФИО</th>
            <th>Курс</th>
            <th>Площадка</th>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Действия</th>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.WaitingBids.Count; i++) {
                    <tr>
                        <td>@(i + 1)</td>
                        <td>@Model.WaitingBids[i].EmployeeFio</td>
                        <td>@Model.WaitingBids[i].Course</td>
                        <td>@Model.WaitingBids[i].Area</td>
                        <td>@Model.WaitingBids[i].LearningStart.ToShortDateString()</td>
                        <td>@Model.WaitingBids[i].LearningEnd.ToShortDateString()</td>
                        <td>Действия</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else {
        <span class="block_header"> - Отсутствуют</span>
    }
</div>

<div class="page_block">
    <div id="vidget_placeholder">ПЛЕЙСХОЛДЕР ДЛЯ ВИДЖЕТА</div>
</div>