@model testProject.Models.ViewModels.FeedModel
@{
    ViewBag.Title = "Уведомления";
    Layout = "~/Views/Layouts/UserLayout.cshtml";
}

<div class="page_block">
    <span class="block_header">
        Уведомления
    </span>
    @foreach (var item in Model.newsToShow) {
        <div class="news_@item.getCssClass()">
            <div class="news_time">@item.CreateDate.ToLongDateString() @item.CreateDate.ToLongTimeString()</div>
            <input type="hidden" value="@item.Id" />
            <div class="news_header">@item.Header</div>
            <div class="news_text">@item.Text</div>
        </div>
    }
</div>
