@model testProject.Models.ViewModels.Planning.PlanningModel
@{
    ViewBag.Title = "Планирование";
    Layout = "~/Views/Layouts/UserLayout.cshtml";
}

@*<h2>Планирование обучения</h2>*@

<div class="page_block">
    <h3 style="">Ваш согласующий руководитель: @Model.BossFio</h3>
</div>
<div class="page_block">
    @if (Model.distCourses.Count == 0 && Model.ochnCourses.Count == 0) {
        <span class="block_header"> Список курсов для планирования пуст!</span>
    }
    else {
        <span class="block_header">Очные программы</span>
        <table class="learning">
            <thead>
                <th>Курс</th>
                <th>Дата последнего изменения заявки</th>
                <th>Дата начала обучения</th>
                <th>Дата окончания обучения</th>
                <th>Площадка</th>
                <th>Преподаватель</th>
                <th>Статус</th>
                <th>Действия</th>
            </thead>
            <tbody>
                @foreach (var item in Model.ochnCourses) {
                    <tr class="@(item.getClass())">
                        <td>@item.Name</td>
                        <td>@(item.DateChange.HasValue ? item.DateChange.Value.ToShortDateString() : "-")</td>
                        <td>@(item.ChosenGroup != null ? item.ChosenGroup.DateStart.ToShortDateString() : "-")</td>
                        <td>@(item.ChosenGroup != null ? item.ChosenGroup.DateEnd.ToShortDateString() : "-")</td>
                        <td>@(item.ChosenGroup != null ? item.ChosenGroup.Area : "-")</td>
                        <td>@(item.ChosenGroup != null ? item.ChosenGroup.Lecturer : "-")</td>
                        <td>@item.GetStatus()</td>
                        <td>?????</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


<div class="page_block">
    @if (Model.distCourses.Count == 0 && Model.ochnCourses.Count == 0) {
        <span class="block_header"> Список курсов для планирования пуст!</span>
    }
    else {
        <span class="block_header">Дистанционные программы</span>
        <table class="learning">
            <thead>
            <th>Курс</th>
            <th>Дата последнего изменения заявки</th>
            <th>Дата начала обучения</th>
            <th>Дата окончания обучения</th>
            <th>Площадка</th>
            <th>Преподаватель</th>
            <th>Статус</th>
            <th>Действия</th>
            </thead>
            <tbody>
                @foreach (var item in Model.distCourses) {
                    <tr class="@(item.getClass())">
                        <td>@item.Name</td>
                        <td>@(item.DateChange.HasValue ? item.DateChange.Value.ToShortDateString() : "-")</td>
                        <td>@(item.ChosenGroup != null ? item.ChosenGroup.DateStart.ToShortDateString() : "-")</td>
                        <td>@(item.ChosenGroup != null ? item.ChosenGroup.DateEnd.ToShortDateString() : "-")</td>
                        <td>@(item.ChosenGroup != null ? item.ChosenGroup.Area : "-")</td>
                        <td>@(item.ChosenGroup != null ? item.ChosenGroup.Lecturer : "-")</td>
                        <td>@item.GetStatus()</td>
                        <td>?????</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>