<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/UserLayout.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="page">
        <div class="header">
            <a href="/home/mylearning" class="menu_link">
                <div class="@(ViewBag.Title=="Обучение" ? "navigation_button_selected" : "navigation_button")">
                    Обучение
                </div>
            </a>

            <a href="/home/planning" class="menu_link">
                <div class="@(ViewBag.Title=="Планирование" ? "navigation_button_selected" : "navigation_button")">
                    Планирование
                </div>
            </a>

            @if (testProject.Misc.Globals.CurrentMode == testProject.Mode.BOSS) {
                <a href="/home/confirm" class="menu_link">
                    <div class="@(ViewBag.Title=="Согласование" ? "navigation_button_selected" : "navigation_button")">
                        Согласование
                    </div>
                </a>
            }
            
            <a href="/home/feed" class="menu_link">
                <div class="@(ViewBag.Title=="Уведомления" ? "navigation_button_selected" : "navigation_button")">
                    Уведомления
                </div>
            </a>

            <div class="@(ViewBag.Title=="Настройки" ? "navigation_button_selected" : "navigation_button")">
                Настройки
            </div>

            <div class="navigation_button" style="float: right;">
                Выход
            </div>
        </div>

        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
